click==6.7
configobj==5.0.6
cryptography==1.7.1
deja-dup-caja==0.0.4
dominate==2.3.1
enum34==1.1.6
Flask==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
folder-color-caja==0.0.79
folder-color-common==0.0.79
idna==2.2
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.10
keyring==10.3.1
keyrings.alt==2.2
MarkupSafe==1.0
mate-menu==17.4.3
mysqlclient==1.3.7
pyasn1==0.1.9
pycrypto==2.6.1
pygobject==3.22.0
PyMySQL==0.7.11
python-xlib==0.14
pyxdg==0.25
SecretStorage==2.3.1
six==1.10.0
SQLAlchemy==1.1.15
virtualenv==15.1.0
visitor==0.1.3
Werkzeug==0.13
WTForms==2.1
