body {
  background-color: #16b5dd;
}

.jumbotron {
  color: #ff0000;
  background-image: url("images/background.jpg");
}

#logInBtn {
  margin-left: 500px;
}
#registerContainer {
  text-align: center;
}
#registerText {
  text-align: center;
}

#registerButton {
  margin-top: 20px;
  margin-left: -620px;
}

.featureItem {
  font-size: 20px;
  font-weight: bold;
}

.featureHeader {
  font-size: 26px;
  font-weight: italic;
}
