{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <div class="container">
      <div id="recordForm">
      <form class="form-signin" method="POST" action="/start">
        <h2 class="form-signin-heading">What is your goal for today?</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.description) }}
        <button type="submit" class="btn btn-primary">Record clock in</button>
      </form>
      <form class="form-signin" method="POST" action="/end">
        <button type="submit" class="btn btn-primary">Record clock out</button>
      </form>
      </div>
    </div> <!-- /container -->


{% endblock %}
