{% extends "bootstrap/base.html" %}

{% block title %}
Welcome to eTimeCard!
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='landing.css')}}">
{% endblock %}

{% block content %}
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">Revolutionising Purdue CS's timecard system.</h1>
          <p class="lead">Tired of turning in your time cards every two weeks? Don't worry! Do it now on the go, whenever you like.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="login" role="button" id="logInBtn">Log in</a>
          </p>
        </div>
      </div>



{% endblock %}
