{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
My Entries
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <div class="container">


    <div class="container">
      {% if inp %}
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time Worked</th>
          <th>Description</th>
        <tr>
        </thead>
        <tbody>
          {% for shift in inp %}
          <tr>
            <td>{{ shift.date }}</td>
            <td>{{ shift.timeWorked }}</td>
            <td>{{ shift.description }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>

    </div> <!-- /container -->


{% endblock %}
